.formBackground {
    background-color: #D3D3D3;
    width: 40%;
    margin-top: 60px;
    padding: 40px;
    border-radius: 10px;
    height: auto;
    box-shadow: 6px 6px 6px #000000;
    float: left;
}
.titleText {
    font-size: 24px;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.infoText { 
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.buttonStandard {
    background-color: #f0bc5e;
    color: #000000;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    float: center;
    border: none;
    box-shadow: 2px 2px 2px rgb(169, 169, 169);
    padding: 12px

}

.buttonStandard:hover {
    background-color: #f0cd8b;
}