.formBox {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 50px;
}

.selectRow1 {
    background-color: #D3D3D3;
    margin: auto;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

.selectRow2 {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ffffff;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.checkboxes {
    padding-right: 60px;
}

.circuitImage {
    width: 200px;
    height: auto;
}

.zoneDrop {
    margin-left: 50px;
}

.stepText {
    font-size: 32px;
    background-color: #ffe9c0;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 5px;
}

.sizeTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    margin: auto;
}


.submitButton {
    background-color: #f0bc5e;
    border: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 2px rgb(169, 169, 169);
    padding: 12px
}