.formBox {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.measureBox {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #D3D3D3;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.secondMeasure {
    padding-left: 50px;
}
.circuitImage {
    width: 200px;
    height: auto;
}

.zoneDrop {
    margin-left: 50px;
}

.stepText {
    font-size: 32px;
    background-color: #ffe9c0;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 5px;
}

.sizeTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.buttonBox {
    margin-left: 50px;
    margin-right: 50px;
}

.submitButton {
    background-color: #f0bc5e;
    border: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    margin-top: 50px;
}

.submitButton:hover {
    background-color: #ffe9c0;
    border: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    margin-top: 50px;
}

.savedInfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    float: left;
}

.processTitle {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}

.measureBox {
    padding-top: 20px;
}